
@font-face {
  font-family: "squada";
  src: url("../font/SquadaOne-Regular.ttf"),
}

h1 {
  font-family: 'squada';
}

* {
    margin: 0;
    padding: 0;
  }

  .nav-link
{
    color:#E9C46A !important;
    font-weight: bold;
    margin-right: 20px;
}
  /* HERO SECTION HOME */
.container 
{
  width: 100%;
  margin: auto;
  padding: 0;
  max-width: 100%;
}
  .container_home {
    width: 100%;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.hero {
    position: relative;
    display: flex;
    align-items: flex-end;
    margin-bottom: 3rem;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.3)
    );
}


.hero__container {
    padding: 10rem;
}

.hero__image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.hero__title {
    margin: 0;
    color: #fff;
    font-size: 3rem;
    text-align: center;

}

/* ARTICLES */
  .card img
  {
      padding-top: 10px;
      width: 100%;
      transition: 0.3s;
      border-radius: 8px;
  }
  .card {
    border-radius: 12px;
    margin-bottom: 6%;
    background: #fff;
    box-shadow: 10px 10px 24px -12px rgba(0, 0, 0, 75);
    transition: 0.3s;
  }

  .card:hover{
      box-shadow: inset 10px 10px 24px -12px rgba(0, 0, 0, 75);
  }

/* FORMULAIRE */
