{% extends 'base.html.twig' %}

{% block body %}

<section class="showcase">
  <img src="https://images.unsplash.com/photo-1505410603994-c3ac6269711f?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="Picture">
  <div class="overlay">
    <h2>Background Overlay</h2>
    <p>
      Hello Everyone , this is just simple overlay , without using background-image property in css
    </p>
  </div>
</section>

{% endblock %}