{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ title }}</h1>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo quo suscipit nostrum. Voluptas doloremque sit porro soluta reprehenderit quo minima nobis! Debitis harum quasi quia sequi earum repellendus quaerat, modi suscipit molestiae ullam assumenda voluptatem nisi dolore nesciunt, totam praesentium.</p>
<p>Est quas odio labore reiciendis cumque inventore perspiciatis. Mollitia asperiores perspiciatis sint pariatur velit recusandae, dolore odit porro excepturi error omnis, impedit neque culpa odio fugit vitae. Cum similique asperiores dignissimos minus at, delectus quos et? Obcaecati distinctio voluptatem ipsum.</p>

{% endblock %}