{% extends 'base.html.twig' %}

{% block body %}

<div class="hero">
    <div class="container hero__container">
        <img src="{{ asset('assets/img/bg.jpg') }}" class="hero__image">
        <h1 class="hero__title">{{ title }}</h1>
    </div>
</div>

{% endblock %}