{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

<section class="articles">
    <div class="container">
        <div class="row d-flex mt-4 " data-masonry='{"percentPosition": true }'>
        
            
            {% for article in articles %}

                <div class="col card mx-3 my-3 " style="width: 18rem;">
                <div class="card-image">
                    <a href="{{ path('blog_show', {'id': article.id}) }}"> <img src="{{ article.image }}" alt=""> </a>
                </div>
                    <div class="card-body">
                    <h5 class="card-title">{{article.title}} </h5>
                </div>
             </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
